// default layout
.l
	+clr
	.l-col1
		float: left
		width: 35.2%
	.l-col2
		float: right
		width: 60%
	.l-col4
		float: left
		width: 20%
		.l-col6
			float: left
			width: 40%
		.l-col7
			float: right
			width: 20%
	.l-col5
		float: right
		width: 60%
	.l-col8
		float: left
		width: 40%

	.l-col9
		float: right
		width: 60%
