// default layout
.l
	+clr
	.l-col1
		float: left
		width: 35.2%
	.l-col2
		float: right
		width: 60%
	.l-col4
		float: left
		width: 78.56%
		.l-col6
			float: left
			width: 41%
		.l-col7
			float: right
			width: 58%
	.l-col5
		float: right
		width: 21%
	.l-col8
		float: left
		width: 37%

	.l-col9
		float: right
		width: 62%
