

.partners
	padding-top: 160px
	@extend %in
	img
		padding: 10px
		outline: none
	.slick-arrow
		display: none !important

.partners-logo
	padding-top: 60px
	.partners-logo__inner
		background-color: #101110
		background-image: url("./../img/Mainf.jpg")
		background-size: contain
		background-repeat: no-repeat
		height: 240px
		background-position: 50% 50%

