<div class="about__index ">
	<div class="about__index__main__title">
		<h2>О ШКОЛЕ</h2>
	</div>
	<div class="about__index__wrap">
		<div class="about__index__wrap-backgradient">
			<div class="about__index__block">
				<p>TARGENTA – это школа коммуникаций для тех, кто стремится к новым знаниям и постоянному самосовершенствованию: практиков коммуникационной индустрии, топ-менеджеров компаний, специалистов смежных дисциплин.
				Преподаватели школы TARGENTA – известные в Украине специалисты в сфере связей с общественностью с опытом работы в корпоративном секторе и сетевых агентствах (см. раздел Тренеры). Мы понимаем анатомию коммуникаций, дорожим своей репутацией и хотим делиться с вами накопленным опытом.</p>
				<p>TARGENTA – это школа коммуникаций для тех, кто стремится к новым знаниям и постоянному самосовершенствованию: практиков коммуникационной индустрии, топ-менеджеров компаний, специалистов смежных дисциплин.
				Преподаватели школы TARGENTA – известные в Украине специалисты в сфере связей с общественностью с опытом работы в корпоративном секторе и сетевых агентствах (см. раздел Тренеры). Мы понимаем анатомию коммуникаций, дорожим своей репутацией и хотим делиться с вами накопленным опытом.</p>
			</div>
		</div>
	</div>
</div>
<!-- end course -->		