<!-- begin about__more  -->
<div class="about__more">
	<div class="about__more__title">
		<h2>О ШКОЛЕ</h2>
	</div>
	<div class="about__more__inner l">
		<div class="photo l-col12">
			<img src="http://lorempixel.com/460/500/abstract/">
		</div>
		<div class="description__out l-col13">
			<div class="about__more__speach">
				<p>TARGENTA – это школа интегрированных коммуникаций для тех, кто стремится к новым знаниям и постоянному самосовершенствованию: практиков коммуникационной индустрии, топ-менеджеров компаний, специалистов смежных дисциплин.</p>
				<p>Школа создана известными украинскими профессионалами в сфере коммуникаций с опытом работы в корпоративном секторе и сетевых коммуникационных агентствах (биография основателя Школы и тренеры). Мы понимаем анатомию коммуникаций, дорожим своей репутацией и хотим делиться с вами накопленным опытом.</p>
				<p>Школа предлагает 2 типа программ:</p>
				<div class="divframe">
					<p class="divframe__inner"><span class="blue">Основной курс:</span> программы в сфере коммуникаций продолжительностью до 2 месяцев. Цель  курса — дать студенту глубинное понимание выбранной темы, научить мыслить системно и ориентироваться на рынке. 
					</p>
					<p class="divframe__inner"><span class="blue">Интенсивы:</span> программы продолжительностью от 1 до 7 дней по наиболее актуальным темам в сфере коммуникаций, рассчитанные на изучение конкретных тем в максимально сжатом формате. Цель — вдохновить студентов и ознакомить их с инструментарием. 
					</p>
				</div>
				<button>
					<a href="/" id="ord_about">
						<div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
						Ближайшие программы
					</a>
				</button>
			</div>
		</div>
	</div>
	<div class="about__after">
		Учеба в TARGENTA — это прежде всего практика. Для нас важно, чтобы полученные знания наши студенты применяли в работе, поэтому 80% времени посвящено практическим задачам и только 20% отводится под  теоретические блоки. 

		Программы Школы разработаны таким образом, чтобы участники с одинаковыми потребностями и уровнем работали в одной группе. Мы создаем образовательные программы, чтобы не только вам было интересно учиться у нас, но и нам самим было интересно с ними работать. 
		Нас объединяет не только любовь к коммуникациям и достижению результата. Наша уникальность в том, что TARGENTA — это сообщество единомышленников. Наше общение выходит за рамки Школы: мы помогаем друг другу в трудоустройстве, дружим, поддерживаем друг друга. 
	</div>
	<div class="about__after-frame">
			<p class="title">В TARGENTA вы научитесь:</p>
			<ul>
				<li>планировать стратегию коммуникационных кампаний</li>
				<li>управлять репутацией бренда</li>
				<li>использовать инструменты диджитал и работать в социальных медиа</li>
				<li>эффективно взаимодействовать с журналистами</li>
				<li>строить прибыльный бизнес, работая ответственно</li>
				<li>писать грамотно и афористично на украинском, русском и английском</li>
				<li>выступать публично и управлять вниманием аудитории</li>
				<li>формировать коммуникационную команду и управлять сотрудниками</li>
				<li>использовать креативные методики в разработке коммуникационных кампаний</li>
				<li>искренне любить дело, которым занимаетесь</li>
			</ul>

	</div>
	<!-- begin line  -->
	<div class="line">
	</div>
	<!-- end line -->
</div>
<!-- end about__more -->
