<!-- begin coach  -->
<div class="coach">
	<div class="coach__title">
		<h2>ТРЕНЕРЫ</h2>
	</div>
	<div class="coach__inner --main-coach_inner ">
		<div class="coach__persone js-slick-coach__main">
			<div class="coach-persone-inner">
				<a class="coach-persone-inner-href" href="#">
					<div class="coach-pic"><img src="img/5.png"></div>
					<p>Марина Стародубская</p>
					<sub>Управляющий партнер коммуникационной компании ТЛФРД Украина</sub>
				</a>
			</div>

			<div class="coach-persone-inner">
				<a class="coach-persone-inner-href" href="#">
					<div class="coach-pic"><img src="img/7.png"></div>
					<p>Ярына Ключковская</p>
					<sub>Управляющий директор агентства GROU</sub>
				</a>
			</div>

			<div class="coach-persone-inner">
				<a class="coach-persone-inner-href" href="#">
					<div class="coach-pic"><img src="img/3.png"></div>
					<p>Ольга Пикульская </p>
					<sub>Основатель Школы интегрированных коммуникаций TARGENTA</sub>
				</a>
			</div>

			<div class="coach-persone-inner">
				<a class="coach-persone-inner-href" href="#">
					<div class="coach-pic"><img src="img/7.png"></div>
					<p>Ярына Ключковская</p>
					<sub>Основатель Школы интегрированных коммуникаций TARGENTA</sub>
				</a>
			</div>

			<div class="coach-persone-inner">
				<a class="coach-persone-inner-href" href="#">
					<div class="coach-pic"><img src="img/4.png"></div>
					<p>Михаил Шуранов</p>
					<sub>Директор по корпоративным связям Укртелеком</sub>
				</a>
			</div>

			<div class="coach-persone-inner">
				<a class="coach-persone-inner-href" href="#">
					<div class="coach-pic"><img src="img/3.png"></div>
					<p>Ольга Пикульская </p>
					<sub>Основатель Школы интегрированных коммуникаций TARGENTA</sub>
				</a>
			</div>

			<div class="coach-persone-inner">
				<a class="coach-persone-inner-href" href="#">
					<div class="coach-pic"><img src="img/7.png"></div>
					<p>Ярына Ключковская</p>
					<sub>Основатель Школы интегрированных коммуникаций TARGENTA</sub>
				</a>
			</div>

			<div class="coach-persone-inner">
				<a class="coach-persone-inner-href" href="#">
					<div class="coach-pic"><img src="img/4.png"></div>
					<p>Михаил Шуранов</p>
					<sub>Директор по корпоративным связям Укртелеком</sub>
				</a>
			</div>

			<div class="coach-persone-inner">
				<a class="coach-persone-inner-href" href="#">
					<div class="coach-pic"><img src="img/7.png"></div>
					<p>Ярына Ключковская</p>
					<sub>Основатель Школы интегрированных коммуникаций TARGENTA</sub>
				</a>
			</div>

			<div class="coach-persone-inner">
				<a class="coach-persone-inner-href" href="#">
					<div class="coach-pic"><img src="img/4.png"></div>
					<p>Михаил Шуранов</p>
					<sub>Директор по корпоративным связям Укртелеком</sub>
				</a>
			</div>

		</div>
	</div>
</div>
<!-- end course__coach -->


<div class="coach__main-btn">
	<button>
		<a href="/">
			<div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
			Все тренеры
		</a>
	</button>
</div>
<!-- begin line  -->
	<div class="line">
	</div>
	<!-- end line -->