<!-- begin course__more  -->
<div class="course__more">
	<div class="course__more__title">
		<h2>ОПИСАНИЕ КУРСА</h2>
	</div>
	<div class="course__more__inner l">
		<div class="photo l-col1">
			<img src="./img/placeholder.svg">
		</div>
		<div class="description__out l-col2">
			<div class="course__more__name"><h2>НАЗВАНИЕ БАЗОВОГО КУРСА</h2></div>
			<div class="course__more__data"><span>20.03.2016</span> - <span>21.06.2016</span></div>
			<div class="course__more__speach"><p>Этот курс даст практические знания, как использовать UX дизайн и дизайн-мышление при разработке любых продуктов от бытового прибора до сайта или приложения и, соответственно, делать ваши продукты лучше. Даст ответы на вопросы, что нужно вашей аудитории и как сделать для нее продукт мечты. Курс рассчитан на арт-директоров, дизайнеров, начинающих UX-дизайнеров, digital-креаторов и стартаперов.

			НЕТ ДРУГОГО СПОСОБА НАУЧИТЬСЯ ПИСАТЬ, КРОМЕ КАК СЕСТЬ И ПИСАТЬ. ВОТ ЭТИМ МЫ И ЗАЙМЕМСЯ. ВЕСЬ КУРС МЫ БУДЕМ ЧИТАТЬ РАССКАЗЫ, ОБСУЖДАТЬ РАССКАЗЫ, А ПОТОМ И ПИСАТЬ РАССКАЗЫ.

			В первой части курса мы посмотрим, что у хорошего рассказа вертится «внутри», разберем литературный механизм на шестеренки, и выясним, как они сцеплены между собой. Обсудим разницу между полнокровными героями и унылой нежитью. Разберемся, как собирать материал на улице, на вечеринке, в толпе незнакомых людей, и у себе в голове. Научимся извлекать достоверную выдумку из бытовых мелочей и рядовых происшествий. Выясним, как подать историю, чтобы читатель не захлебнулся в деталях, как оставить ему пространство для догадок и озарений – то есть для его собственного воображения. Мы поучимся точности в словах у Антона Чехова и Джона Апдайка, лаконичности у Эрнеста Хемингуэя, обращению с деталями у Рэймонда Карвера и Джека Лондона.</p></div>
			<div class="course__more__download">
				<img src="./img/pdf.svg">
				<div class="download"> <a href="#">Скачать брошюру</a><br>(368kB)</div>
			</div>
			<div class="price">3000 грн</div>
			<button>
				<a href="/" id="ord_course">
					<div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
					Записаться
				</a>
			</button>
		</div>
	</div>

</div>
<!-- end course__more -->
