<div class="course__main --remove-buttons">
	<div class="course__main__title">
		<h2>ПРОГРАММЫ</h2>
	</div>
	<div class="course__wrap-slider js-slick-course__main">
		<div class="slider__item">
			<div class="course__main__wrap-backgradient ">
				<div class="course__main__block">

						<div class="course__main-desc">
							<div class="course__name"><h2>НАЗВАНИЕ БАЗОВОГО КУРСА</h2></div>
							<div class="course__data"><span>20.03.2016</span> - <span>21.06.2016</span></div>
							<p>Программы в сфере коммуникаций продолжительностью до 3 месяцев. Цель программы — дать студенту </p>
						</div>
						<div class="course__main-more"><a href="#">ПОДРОБНЕЕ</a><i class="icon-arrow-right"></i></div>

				</div>
			</div>
		</div>
		<div class="slider__item">
			<div class="course__main__wrap-backgradient ">
				<div class="course__main__block">

						<div class="course__main-desc">
							<div class="course__name"><h2>НАЗВАНИЕ БАЗОВОГО КУРСА</h2></div>
							<div class="course__data"><span>20.03.2016</span> - <span>21.06.2016</span></div>
							<p>Программы в сфере коммуникаций продолжительностью до 3 месяцев. Цель программы — дать студенту </p>
						</div>
						<div class="course__main-more"><a href="#">ПОДРОБНЕЕ</a><i class="icon-arrow-right"></i></div>

				</div>
			</div>
		</div>

		<div class="slider__item">
			<div class="course__main__wrap-backgradient ">
				<div class="course__main__block">

						<div class="course__main-desc">
							<div class="course__name"><h2>НАЗВАНИЕ БАЗОВОГО КУРСА</h2></div>
							<div class="course__data"><span>20.03.2016</span> - <span>21.06.2016</span></div>
							<p>Программы в сфере коммуникаций продолжительностью до 3 месяцев. Цель программы — дать студенту </p>
						</div>
						<div class="course__main-more"><a href="#">ПОДРОБНЕЕ</a><i class="icon-arrow-right"></i></div>

				</div>
			</div>
		</div>

		<div class="slider__item">
			<div class="course__main__wrap-backgradient ">
				<div class="course__main__block">

						<div class="course__main-desc">
							<div class="course__name"><h2>НАЗВАНИЕ БАЗОВОГО КУРСА</h2></div>
							<div class="course__data"><span>20.03.2016</span> - <span>21.06.2016</span></div>
							<p>Программы в сфере коммуникаций продолжительностью до 3 месяцев. Цель программы — дать студенту </p>
						</div>
						<div class="course__main-more"><a href="#">ПОДРОБНЕЕ</a><i class="icon-arrow-right"></i></div>

				</div>
			</div>
		</div>
		<div class="slider__item">
			<div class="course__main__wrap-backgradient ">
				<div class="course__main__block">

						<div class="course__main-desc">
							<div class="course__name"><h2>НАЗВАНИЕ БАЗОВОГО КУРСА</h2></div>
							<div class="course__data"><span>20.03.2016</span> - <span>21.06.2016</span></div>
							<p>Программы в сфере коммуникаций продолжительностью до 3 месяцев. Цель программы — дать студенту </p>
						</div>
						<div class="course__main-more"><a href="#">ПОДРОБНЕЕ</a><i class="icon-arrow-right"></i></div>

				</div>
			</div>
		</div>

		<div class="slider__item">
			<div class="course__main__wrap-backgradient ">
				<div class="course__main__block">

						<div class="course__main-desc">
							<div class="course__name"><h2>НАЗВАНИЕ БАЗОВОГО КУРСА</h2></div>
							<div class="course__data"><span>20.03.2016</span> - <span>21.06.2016</span></div>
							<p>Программы в сфере коммуникаций продолжительностью до 3 месяцев. Цель программы — дать студенту </p>
						</div>
						<div class="course__main-more"><a href="#">ПОДРОБНЕЕ</a><i class="icon-arrow-right"></i></div>

				</div>
			</div>
		</div>		
		<div class="slider__item">
			<div class="course__main__wrap-backgradient ">
				<div class="course__main__block">

						<div class="course__main-desc">
							<div class="course__name"><h2>НАЗВАНИЕ БАЗОВОГО КУРСА</h2></div>
							<div class="course__data"><span>20.03.2016</span> - <span>21.06.2016</span></div>
							<p>Программы в сфере коммуникаций продолжительностью до 3 месяцев. Цель программы — дать студенту </p>
						</div>
						<div class="course__main-more"><a href="#">ПОДРОБНЕЕ</a><i class="icon-arrow-right"></i></div>

				</div>
			</div>
		</div>

		<div class="slider__item">
			<div class="course__main__wrap-backgradient ">
				<div class="course__main__block">

						<div class="course__main-desc">
							<div class="course__name"><h2>НАЗВАНИЕ БАЗОВОГО КУРСА</h2></div>
							<div class="course__data"><span>20.03.2016</span> - <span>21.06.2016</span></div>
							<p>Программы в сфере коммуникаций продолжительностью до 3 месяцев. Цель программы — дать студенту </p>
						</div>
						<div class="course__main-more"><a href="#">ПОДРОБНЕЕ</a><i class="icon-arrow-right"></i></div>

				</div>
			</div>
		</div>
	</div>
</div>
<!-- end course -->		

<div class="course__main-btn">
	<button class="--change-color">
		<a href="/">
			<div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
			Все программы
		</a>
	</button>
</div>
<!-- begin line  -->
	<div class="line">
	</div>
	<!-- end line -->