<!-- begin header  -->
<div class="header">
	<div class="header__inner">
		<div class="header__row">
			<div class="header__logo">
				<a href="/">
					<img src="/img/logo.svg">
					<i class="icon-logo2"></i>
				</a>
			</div>
			<div class="heeder__nav">
				<ul class="nav">
					<li class="nav__item"><a href="#">О ШКОЛЕ</a></li>
					<li class="nav__item"><a href="#">ПРОГРАММЫ</a></li>
					<li class="nav__item"><a href="#">ТРЕНЕРЫ</a></li>
					<li class="nav__item"><a href="#contacts" >КОНТАКТЫ</a></li>
				</ul>
			</div>
			<button class="order">
				<div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
				<a href="#" id="ord_btn" >ЗАПИСАТЬСЯ НА ПРОГРАММУ</a>
			</button>
			<div class="lang">
				<span>Рус</span>
				<span>Укр</span>
				<sub></sub>

			</div>
		</div>
	</div>
</div>
<!-- end header -->