<!-- begin partners  -->
<div class="partners --remove-buttons">
	<div class="partners__inner js-slick-partners">
			<img src="img/p1.png">
			<img src="img/p2.png">
			<img src="img/p3.png">
			<img src="img/p4.png">
			<img src="img/p5.png">
			<img src="img/p1.png">
			<img src="img/p2.png">
			<img src="img/p3.png">
			<img src="img/p4.png">
			<img src="img/p5.png">
	</div>
</div>
<div class="partners-logo">
	<!-- begin partners  -->
	<div class="partners-logo__inner">
	</div>
	
</div>
<!-- end partners -->