<!-- begin partners  -->
<div class="partners --remove-buttons">
	<div class="partners__inner js-slick-partners">
			<img src="http://lorempixel.com/60/40/people/">
			<img src="http://lorempixel.com/60/40/people/">
			<img src="http://lorempixel.com/60/40/people/">
			<img src="http://lorempixel.com/60/40/people/">
			<img src="http://lorempixel.com/60/40/people/">
			<img src="http://lorempixel.com/60/40/people/">
			<img src="http://lorempixel.com/60/40/people/">
			<img src="http://lorempixel.com/60/40/people/">
	</div>
</div>
<div class="partners-logo">
	<!-- begin partners  -->
	<div class="partners-logo__inner">
	</div>
	
</div>
<!-- end partners -->