<!-- begin personality  -->
<div class="personality">
	<div class="personality__title">
		<h2>ТРЕНЕР</h2>
	</div>
	<div class="personality__inner l">
		<div class="photo l-col1">
			<img src="./img/portrait.jpg">
		</div>
		<div class="description__out l-col2">
			<div class="personality__name"><h2>Марина Стародубская</h2></div>
			<div class="personality__position"><p>Управляющий партнер коммуникационной компании ТЛФРД Украина</p></div>
			<div class="personality__speach"><p>В різний час складалася з 10—12 класів, які діляться на 3 ступені — молодші, середні, старші. Школу відвідують в дитячому віці. Вивчають навчальні предмети. Щоб закінчити навчальний заклад, необхідно скласти іспити, учні отримують «Атестат зрілості» (поняття, широко вживане в радянську добу). Нині учні після завершення навчання у школі отримують Свідоцтво про базову або повну середню освіту. У деяких країнах, що розвиваються, шкільна система не розвинена досі.В наш час офіційна шкільна програма складається з 1-11 класів</p></div>
			<div class="personality__social">
				<a class="personality__fb" href="#">
					<i class="icon-fb"></i>
				</a>
				<a class="personality__li" href="#">
					<i class="icon-li"></i>
				</a>
			</div>
		</div>
	</div>

	<!-- begin line  -->
	<div class="line">
	</div>
	<!-- end line -->
</div>
<!-- end personality -->