<!-- begin popup  -->
<div class="popup" id="Order">
	<div class="popup__center">
		<div class="popup__center-inner">
			<div class="contact__form">
					<div class="popup__close js-popup__close"></div>
				 <form role="form" id="formOrderPopup" autocomplete="on">
					<div class="contact__input">
						<input type="text" class="form-control requiredField name" value="">
						<span class="highlight"></span><span class="bar"></span>
						<label>Имя*</label>
					</div>
					<div class="contact__input">
						<input type="text" class="form-control requiredField email" value="">
						<span class="highlight"></span><span class="bar"></span>
						<label>E-mail*</label>
					</div>
					<div class="contact__input">
						<input type="text" class="form-control requiredField phone" value="">
						<span class="highlight"></span><span class="bar"></span>
						<label>Телефон*</label>
					</div>
					<div class="contact__input">
						<input type="text" class="form-control message" value="">
						<span class="highlight"></span><span class="bar"></span>
						<label>Сообщение</label>
					</div>
					<button type="button" class="start__submit">Задать вопрос
						<div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
					</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- end popup -->