<div class="testimonial">
	<div class="testimonial__main__title">
		<h2>ОТЗЫВЫ</h2>
	</div>
	<div class="testimonial__inner js-slider-testimonial">
		<div class="testimonial-persone l">
				<div class="testimonial-persone-left l-col10">
					<div class="coach-pic">
						<img src="http://lorempixel.com/200/200/people/">
						<div class="quotes icon-quotes"></div>
					</div>
					<p>Константин Петров</p>
					<p>Глобал Гелекси Промо</p>
				</div>
				<div class="testimonial-persone-right l-col11">
					<p>Рецензия, как и литературная критика в целом, появляется вместе с литературными журналами. Первым таким журналом в России стали Первым таким журналом в России стали «Ежемесячные сочинения. Первым таким журналом в России стали.</p>
				</div>

		</div>
		<div class="testimonial-persone l">
				<div class="testimonial-persone-left l-col10">
					<div class="coach-pic">
						<img src="http://lorempixel.com/200/200/people/">
						<div class="quotes icon-quotes"></div>
					</div>
					<p>Константин Петров</p>
					<p>Глобал Гелекси Промо</p>
				</div>
				<div class="testimonial-persone-right l-col11">
					<p>Рецензия, как и литературная критика в целом, появляется вместе с литературными журналами. Первым таким журналом в России стали Первым таким журналом в России стали «Ежемесячные сочинения. Первым таким журналом в России стали.</p>
				</div>

		</div>
		<div class="testimonial-persone l">
				<div class="testimonial-persone-left l-col10">
					<div class="coach-pic">
						<img src="http://lorempixel.com/200/200/people/">
						<div class="quotes icon-quotes"></div>
					</div>
					<p>Константин Петров</p>
					<p>Глобал Гелекси Промо</p>
				</div>
				<div class="testimonial-persone-right l-col11">
					<p>Рецензия, как и литературная критика в целом, появляется вместе с литературными журналами. Первым таким журналом в России стали Первым таким журналом в России стали «Ежемесячные сочинения. Первым таким журналом в России стали.</p>
				</div>

		</div>
	</div>
</div>