<!-- begin top  -->
<div class="top">
<!-- 	<div class="top__bg-photo">
		<img src="http://lorempixel.com/1316/636/abstract/" alt="main_photo">
	</div> -->
	<div class="top__inner">
		<div class="top__center">
			<div class="top__center-inner">
				<h1>АНАТОМИЯ <br>КОММУНИКАЦИЙ</h1>
				<p class="sub">Все об управлении репутацией бренда и <br>разработке коммуникационных кампаний</p>
				<p class="group_btn">
					<button class="--bigger">
						<a href="/">
							<div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
							ДЕТАЛЬНЕЕ О ШКОЛЕ
						</a>
					</button>
					<button class="--bigger">
						<a href="/">
							<div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
							ПРОГРАММЫ
						</a>
					</button>
				</p>
			</div>
		</div>
	</div>
</div>
<!-- end top -->